<div *ngIf="menu">
  <mat-menu #rootMenu="matMenu">
      <button  *ngFor=" let itemMenu of menu"  mat-menu-item [matMenuTriggerFor]="subMenu">{{itemMenu.icon}} - {{itemMenu.label}}</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>Menu</mat-icon>
  </button>
</div>
